<div id="<%= dom_id bank_branch %>">
  <p>
    <strong>Name:</strong>
    <%= bank_branch.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bank_branch.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= bank_branch.phone %>
  </p>

</div>
