<p style="color: green"><%= notice %></p>

<div class="container">
  <h1><strong> Lista de Sucursales Bancarias</strong></h1>
  <div class="row">
    <table class="table table-bordered">
      <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Localidad</th>
                <th>Provincia</th>
            </tr>
      </thead> 
      <tbody>
        <%= render @bank_branches %>
      </tbody> 
    </table>   
  </div>
  <%= link_to 'Agregar Sucursal Bancaria', new_bank_branch_path, :class => "btn btn-success btn-lg" %>
