<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Provincia</th>
            </tr>
      </thead> 
      <tbody>
        <%= render @localities %>
      </tbody> 
    </table>   
  </div>
</div>   
