 
 <div class="container">
  <h1><strong> Nueva Localidad </strong></h1>

  <%= render "form", locality: @locality %>

  <br>

  <div>
    <%= link_to "Volver a las Localidades", localities_path %>
  </div>

