<div class="container">
  <p style="color: green"><%= notice %></p>
  <strong> Nombre: </strong> <%= @locality.name %><br>
  <strong> Provincia: </strong> <%= @locality.province %>
  <br>
  <%= link_to "Volver a las Localidades", localities_path %>
</div>

