<div class="container">
  <h2><strong> Horarios de Atención</strong></h2>
  <h2><strong> Sucursal Nombre: <%= @bank_branch.name.capitalize %> </strong></h2>
  <div class="row">
    <table class="table table-bordered">
      <thead>
            <tr>
                <th>Dia de la semana</th>
                <th>Horario desde</th>
                <th>Horario hasta</th>
            </tr>
      </thead> 
      <tbody>
        <%= render @schedules %>
      </tbody> 
    </table>   
  </div>
  <%= link_to 'Agregar Horario', new_bank_branch_schedule_path, :class => "btn btn-success btn-lg" %>
  <div>
    <br>
    <%= link_to "Volver a las Sucursales Bancarias", bank_branches_path %>
  </div>
</div>   