 
 <div class="container">
  <h2><strong> Nuevo Horario de Atención</strong></h2>
  <h2><strong> Sucursal Nombre: <%= @bank_branch.name.capitalize %> </strong></h2>
  <%= render "form", bank_branch: @bank_branch %>
  <br>
  <div>
    <%= link_to "Volver a la Sucursal Bancaria", bank_branch_schedules_path %>
  </div>
 </div>