 
 <div class="container">
  <h1><strong> Nuevo Horario de Atención</strong></h1>

  <%= render "form", schedule: @schedule %>

  <br>

  <div>
    <%= link_to "Volver a los horarios", schedules_path %>
  </div>
 </div>