<div class="container">
  <h2><strong> Turnos de Atención</strong></h2>
  <div class="row">
    <table class="table table-bordered">
      <thead>
            <tr>
                <th>Sucursal</th>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Motivo</th>
                <th>Estado</th>
            </tr>
      </thead> 
      <tbody>
        <%= render @turns %>
      </tbody> 
    </table>   
  </div>
  <%= link_to 'Nuevo Turno', new_turn_path, :class => "btn btn-success btn-lg" %>
</div>   