 <div class="container">
  <h2><strong> Solicitud de Turno de Atención </strong></h2>
  <%= render "form", turn: @turn %>
  <br>
  <div>
    <%= link_to "Volver a mis turnos", turns_path %>
  </div>
 </div>