.nav-separator {
    border-left: 3px solid #922424;
    height: 40px;
    margin: 0 10px;
  }

.centered-text {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }  

  .navbar-nav {
    float: right;
  }
  
  .navbar-text {
    margin-right: 1px;
  }
  
  
  
  